@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  --primary: #19abfe;
  --primary-dark-40: #00304b;
  --on-primary: #ffffff;
  --dark: #000000;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 0.73vw;
}

body {
  height: 100vh;
  background-color: var(--dark);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 47.5rem;
  height: 65rem;
  background: url("assets/img/bg.jpg") no-repeat center/cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card-container {
  /* perspective: $card-transition-perspective; */
}
.container .card-container .card {
  width: 34.375rem;
  height: 55rem;
  border-radius: 2rem;
  position: relative;
  transition: rotate 0.4s cubic-bezier(0.33, 0.9, 0.6, 1.2);
  transform-style: preserve-3d;
}
.container .card-container .card .front-face, .container .card-container .card .back-face {
  inset: 0;
  padding: 4rem 4.25rem;
  position: absolute;
  border-radius: inherit;
  backface-visibility: hidden;
}
.container .card-container .card .front-face .card-heading, .container .card-container .card .back-face .card-heading {
  width: 90%;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: var(--on-primary);
  transition: all 0.35s cubic-bezier(0.33, 0.9, 0.6, 1.15);
}
.container .card-container .card .front-face {
  background: url("assets/img/buildings.png") no-repeat center/cover;
  display: flex;
  justify-content: start;
  align-items: end;
}
.container .card-container .card .front-face .footer {
  display: flex;
  align-items: center;
}
.container .card-container .card .front-face .footer .button-front {
  rotate: -40deg;
}
.container .card-container .card .back-face {
  background-color: var(--on-primary);
  display: grid;
  grid-template-rows: 18rem auto 1fr 4rem;
  rotate: y 180deg;
}
.container .card-container .card .back-face .logo {
  width: 6.56rem;
  height: 6rem;
  align-self: end;
}
.container .card-container .card .back-face .logo img {
  width: inherit;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .card-container .card .back-face .heading {
  padding-top: 1rem;
}
.container .card-container .card .back-face .heading .card-heading {
  color: var(--primary-dark-40);
  translate: 0 18rem;
}
.container .card-container .card .back-face .description {
  padding-top: 2rem;
}
.container .card-container .card .back-face .description p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #6c7994;
}
.container .card-container .card .back-face .footer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.container .card-container:hover .card {
  rotate: y -180deg;
}
.container .card-container:hover .card .front-face .card-heading {
  translate: 0 -18rem;
  font-size: 2.5rem;
}
.container .card-container:hover .card .back-face .heading .card-heading {
  font-size: 2.5rem;
  translate: 0;
}

.btn {
  width: 4.25rem;
  height: 4.25rem;
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 2.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform-origin: right center;
  transition: width 0.35s cubic-bezier(0.67, 0.99, 0.62, 1.53), background-color 0.25s 0.1s ease;
}
.btn .button-text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  right: 11rem;
  white-space: nowrap;
}
.btn .button-text, .btn .button-icon {
  color: var(--primary);
  transition: color 0.2s 0.1s linear, right 0.15s linear;
}

.read-more {
  width: 17rem;
  text-align: end;
}
.read-more:hover .button-read-more {
  width: 12.75rem;
  padding: 1.4166666667rem;
  background-color: var(--primary);
  justify-content: end;
}
.read-more:hover .button-read-more .button-text, .read-more:hover .button-read-more .button-icon {
  color: var(--on-primary);
}
.read-more:hover .button-read-more .button-text {
  right: 8.5rem;
}/*# sourceMappingURL=style.css.map */