@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 0.8vw;
}
body {
    height: $body-height;
    background-color: $body-bg-color;
    font-family: $body-font-family;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: $card-container-width;
    height: $card-container-height;
    background: url($card-container-bg-image) no-repeat center / cover;
    background-color: $card-container-bg-color;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    /* perspective: $card-transition-perspective; */
    & .card {
        width: $card-width;
        height: $card-height;
        border-radius: $card-border-radius;
        position: relative;
        transition: rotate 0.25s linear;
        transform-style: preserve-3d;

        & .front-face,
        & .back-face {
            inset: 0;
            padding: $card-padding-y $card-padding-x;
            position: absolute;
            border-radius: inherit;
            backface-visibility: hidden;
            ////
            ////
            & .card-heading {
                width: 80%;
                font-weight: $card-heading-text-weight;
                font-size: $card-heading-text-size;
                line-height: $card-heading-text-line-height;
                color: $card-heading-text-color;
                transition: all 0.2s 0.05s ease-out;
            }
        }
        & .front-face {
            background: url($front-bg-image) no-repeat center / cover;
            display: flex;
            justify-content: start;
            align-items: end;
            & .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & .button-front {
                    rotate: $button-front-rotation;
                }
            }
        }
        & .back-face {
            background-color: $back-face-bg-color;
            display: grid;
            grid-template-rows: 20rem auto 1fr 4rem;
            rotate: y 180deg;
            & .logo {
                width: 6.56rem;
                height: 6rem;
                align-self: end;
                & img {
                    width: inherit;
                    height: auto;
                    object-fit: cover;
                }
            }
            & .heading {
                padding-top: 1rem;
                & .card-heading {
                    color: #1e335c;
                    translate: 0 18rem;
                }
            }
            & .description {
                padding: 1rem 0;
                & p {
                    font-weight: $description-text-weight;
                    font-size: $description-text-size;
                    line-height: $description-text-line-height;
                    color: $description-text-color;
                }
            }
            & .footer {
                display: flex;
                justify-content: end;
                align-items: center;
            }
        }
        &.animate {
            animation: bounce 0.4s cubic-bezier(0.01, 0.31, 1, 0.19);
        }
    }
    &:hover {
        & .card {
            rotate: y -180deg;
            animation: bounce 0.4s cubic-bezier(0.01, 0.31, 1, 0.19);
            & .front-face {
                & .card-heading {
                    translate: 0 -18rem;
                    font-size: 2.5rem;
                }
            }
            & .back-face {
                & .heading {
                    & .card-heading {
                        font-size: 2.5rem;
                        translate: 0;
                        animation: bounce 0.4s 0.08s cubic-bezier(0.63, 0.09, 0.6, 1.53);
                    }
                }
            }
        }
    }
}
.btn {
    width: 13rem;
    height: 4.25rem;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $button-text-color;
    cursor: pointer;
    & .button-text {
        font-weight: $button-text-weight;
        font-size: $button-text-size;
        line-height: $button-text-line-height;
    }
    & .icon {
        font-weight: $button-text-weight;
        font-size: $button-front-width;
    }
    &.button-front {
        width: $button-front-width;
        height: $button-front-height;
        border-radius: 50%;
    }
}
@keyframes bounce {
    0% {
        scale: 1 1;
    }
    50% {
        scale: 1.05 1;
    }
    100% {
        scale: 1 1;
    }
}
