//body
$body-height: 100vh;
$body-bg-color: var(--dark);
$body-font-family: "Roboto", sans-serif;
//card container
$card-container-width: 47.5rem;
$card-container-height: 65rem;
$card-container-bg-image: "assets/img/bg.jpg";
$card-container-bg-color: rgba(255, 255, 255, 0.5);
//card
$card-width: 34.375rem;
$card-height: 55rem;
$card-padding-y: 4rem;
$card-padding-x: 4.25rem;
$card-border-radius: 2rem;
$card-transition-perspective: 1000px;
$card-transition-time: 0.2s;
//card heading text
$card-heading-text-weight: 700;
$card-heading-text-size: 2.25rem;
$card-heading-on-hover-text-size: 2.5rem;
$card-heading-text-line-height: 2.625rem;
$card-heading-text-color: var(--on-primary);
//card front face
$front-bg-image: "assets/img/buildings.png";
$front-footer-width: 90%;
//card back face
$back-face-bg-color: var(--on-primary);
$back-face-logo-width: 6.56rem;
$back-face-logo-height: 6rem;
$back-face-heading-text-color: var(--primary-dark-40);
$back-face-heading-padding-top: 1rem;
$back-face-heading-translate-x: 0;
$back-face-heading-translate-y: 18rem;
$back-face-description-padding-top: 2rem;
//card heading text
//description
$description-text-weight: 500;
$description-text-size: 1.125rem;
$description-text-line-height: 2rem;
$description-text-color: #6c7994;
//button
$button-width: 4.25rem;
$button-height: 4.25rem;
$button-border-widh: 1px;
$button-border-color: var(--primary);
$button-text-weight: 400;
$button-text-size: 1.5rem;
$button-text-line-height: 1.5rem;
$button-text-color: var(--primary);
$button-text-position-right: 11rem;
$button-on-hover-bg-color: var(--primary);
$button-on-hover-text-color: var(--on-primary);
$button-text-on-hover-position-right: 8.5rem;
//button front
$button-front-rotation: -40deg;
